body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.link-button {
  background: none;
  border: none;
  outline: none;
  color: #00B7FF;
  text-decoration: none;
  cursor: pointer;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:#00B7FF;
}