<h1>Edit</h1>
<form action="/posts/{{post._id}}/save" method="POST" id="edit-form">
  <label for="message">Message: </label>
<input type="text" value="{{post.message}}" name="message" id="edit-msg">
  <label for="image">Image URL: </label>
<input type="text" value="{{post.image_url}}" name="image" id="edit-img">
<input type="submit" value="Submit" id="edit-submit">
</form>