<h1>Timeline</h1>
<ul class="posts">
  {{#each (reverse posts)}}
  <li>Posted by: {{this.user_id}}<br><img src="{{this.image_url}}"><br>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
