<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <label for="image_url">Image URL: </label>
  <input id="image_url" type="text" name="image_url" value="">
  <input id="message" type="text" name="message" value="">
  <input type="submit" value="Submit">
</form>
